<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/normalize.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Рентометр</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1 class="logo">рентометр</h1>
        </div>
        <div class="hero">
            <div class="hero-text-block">
                <h2 class="hero-text">
                    Оценка квартиры в Санкт-Петербурге
                </h2>
            </div>
        </div>
        <form class="room-form">
            <div class="room-selector">
              <div class="room-buttons">
                <div class="room-indicator"></div>
                <label><button type="button" class="room-btn">Студия</button></label>
                <label><button type="button" class="room-btn active">1</button></label>
                <label><button type="button" class="room-btn">2</button></label>
                <label><button type="button" class="room-btn">3</button></label>
                <label><button type="button" class="room-btn">4+</button></label>
              </div>
          
              <span class="divider"></span>
          
              <label class="area-input">
                <input type="number" step="0.01" min="0" max="1000" name="total_meters" placeholder="26.5" required>
                <span class="unit">м²</span>
              </label>
            </div>
            <div class="address">
                <div class="form-row">
                    <div class="form-block">
                        <label class="form-block-label">Район</label>
                        <select class="form-block-input" name="district">
                            <option>Адмиралтейский</option>
                            <option>Василеостровский</option>
                            <option>Выборгский</option>
                            <option>Калининский</option>
                            <option>Кировский</option>
                            <option>Колпинский</option>
                            <option>Красногвардейский</option>
                            <option>Красносельский</option>
                            <option>Кронштадтский</option>
                            <option>Курортный</option>
                            <option>Московский</option>
                            <option>Невский</option>
                            <option>Петроградский</option>
                            <option>Петродворцовый</option>
                            <option>Приморский</option>
                            <option>Пушкинский</option>
                            <option>Фрунзенский</option>
                            <option>Центральный</option>
                        </select>
                    </div>
                    <div class="form-block">
                        <label class="form-block-label">Улица</label>
                        <input class="form-block-input" type="text" name="street" required>
                    </div>
                </div>
            </div>
            <div class="home-info" id="homeInfo">
                <div class="form-row">
                    <div class="form-block">
                        <label class="form-block-label al-center">Номер дома</label>
                        <input class="form-block-input al-center" type="text" name="house_number"
                        required>
                    </div>
                    <div class="form-block">
                        <label class="form-block-label al-center">Этаж</label>
                        <input class="form-block-input al-center" type="number"
                        min="0" max="1024" name="floor" required>
                    </div>
                    <div class="form-block">
                        <label class="form-block-label al-center">Всего этажей</label>
                        <input class="form-block-input al-center" type="number" name="total_floors"
                        min="1" max="1024" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-block">
                        <label class="form-block-label">Материал дома</label>
                        <select class="form-block-input" name="house_material">
                            <option>блочный</option>
                            <option>панельный</option>
                            <option>кирпичный</option>
                            <option>монолитный</option>
                            <option>кирпично-монолитный</option>
                            <option>сталинский</option>
                            <option>деревянный</option>
                            <option>щитовой</option>
                        </select>
                    </div>
                    <div class="form-block">
                        <label class="form-block-label">Есть балкон?</label>
                        <div class="radio-opts">
                            <label class="radio-option">
                                <input type="radio" name="balcony" value="1" checked>
                                <span class="radio-custom"></span>
                                <span class="radio-text">Да</span>
                            </label>
                            <label class="radio-option">
                                <input type="radio" name="balcony" value="0">
                                <span class="radio-custom"></span>
                                <span class="radio-text">Нет</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-block">
                        <label class="form-block-label">Станция метро</label>
                        <select class="form-block-input" id="metro_station">
    <option value="" disabled selected>Выберите станцию</option>

    <!-- Красная линия (1) -->
    <optgroup label="Кировско-Выборгская (Красная) линия (1)">
        <option value="Девяткино" data-line-color="#D6083B">Девяткино</option>
        <option value="Гражданский проспект" data-line-color="#D6083B">Гражданский проспект</option>
        <option value="Академическая" data-line-color="#D6083B">Академическая</option>
        <option value="Политехническая" data-line-color="#D6083B">Политехническая</option>
        <option value="Площадь Мужества" data-line-color="#D6083B">Площадь Мужества</option>
        <option value="Лесная" data-line-color="#D6083B">Лесная</option>
        <option value="Выборгская" data-line-color="#D6083B">Выборгская</option>
        <option value="Площадь Ленина" data-line-color="#D6083B">Площадь Ленина</option>
        <option value="Чернышевская" data-line-color="#D6083B">Чернышевская</option>
        <option value="Площадь Восстания" data-line-color="#D6083B">Площадь Восстания</option>
        <option value="Владимирская" data-line-color="#D6083B">Владимирская</option>
        <option value="Пушкинская" data-line-color="#D6083B">Пушкинская</option>
        <option value="Технологический институт-1" data-line-color="#D6083B">Технологический институт-1</option>
        <option value="Балтийская" data-line-color="#D6083B">Балтийская</option>
        <option value="Нарвская" data-line-color="#D6083B">Нарвская</option>
        <option value="Кировский завод" data-line-color="#D6083B">Кировский завод</option>
        <option value="Автово" data-line-color="#D6083B">Автово</option>
        <option value="Ленинский проспект" data-line-color="#D6083B">Ленинский проспект</option>
        <option value="Проспект Ветеранов" data-line-color="#D6083B">Проспект Ветеранов</option>
    </optgroup>

    <!-- Синяя линия (2) -->
    <optgroup label="Московско-Петроградская (Синяя) линия (2)">
        <option value="Парнас" data-line-color="#0C63E7">Парнас</option>
        <option value="Проспект Просвещения" data-line-color="#0C63E7">Проспект Просвещения</option>
        <option value="Озерки" data-line-color="#0C63E7">Озерки</option>
        <option value="Удельная" data-line-color="#0C63E7">Удельная</option>
        <option value="Пионерская" data-line-color="#0C63E7">Пионерская</option>
        <option value="Чёрная речка" data-line-color="#0C63E7">Чёрная речка</option>
        <option value="Петроградская" data-line-color="#0C63E7">Петроградская</option>
        <option value="Горьковская" data-line-color="#0C63E7">Горьковская</option>
        <option value="Невский проспект" data-line-color="#0C63E7">Невский проспект</option>
        <option value="Сенная площадь" data-line-color="#0C63E7">Сенная площадь</option>
        <option value="Технологический институт-2" data-line-color="#0C63E7">Технологический институт-2</option>
        <option value="Фрунзенская" data-line-color="#0C63E7">Фрунзенская</option>
        <option value="Московские ворота" data-line-color="#0C63E7">Московские ворота</option>
        <option value="Электросила" data-line-color="#0C63E7">Электросила</option>
        <option value="Парк Победы" data-line-color="#0C63E7">Парк Победы</option>
        <option value="Московская" data-line-color="#0C63E7">Московская</option>
        <option value="Звёздная" data-line-color="#0C63E7">Звёздная</option>
        <option value="Купчино" data-line-color="#0C63E7">Купчино</option>
    </optgroup>

    <!-- Зелёная линия (3) -->
    <optgroup label="Невско-Василеостровская (Зелёная) линия (3)">
        <option value="Беговая" data-line-color="#2DA343">Беговая</option>
        <option value="Приморская" data-line-color="#2DA343">Приморская</option>
        <option value="Василеостровская" data-line-color="#2DA343">Василеостровская</option>
        <option value="Гостиный двор" data-line-color="#2DA343">Гостиный двор</option>
        <option value="Маяковская" data-line-color="#2DA343">Маяковская</option>
        <option value="Площадь Александра Невского" data-line-color="#2DA343">Площадь Александра Невского</option>
        <option value="Елизаровская" data-line-color="#2DA343">Елизаровская</option>
        <option value="Ломоносовская" data-line-color="#2DA343">Ломоносовская</option>
        <option value="Пролетарская" data-line-color="#2DA343">Пролетарская</option>
        <option value="Обухово" data-line-color="#2DA343">Обухово</option>
        <option value="Рыбацкое" data-line-color="#2DA343">Рыбацкое</option>
    </optgroup>

    <!-- Оранжевая линия (4) -->
    <optgroup label="Правобережная (Оранжевая) линия (4)">
        <option value="Горный Институт" data-line-color="#E67E22">Горный Институт</option>
        <option value="Спасская" data-line-color="#E67E22">Спасская</option>
        <option value="Достоевская" data-line-color="#E67E22">Достоевская</option>
        <option value="Лиговский проспект" data-line-color="#E67E22">Лиговский проспект</option>
        <option value="Площадь Александра Невского" data-line-color="#E67E22">Площадь Александра Невского</option>
        <option value="Новочеркасская" data-line-color="#E67E22">Новочеркасская</option>
        <option value="Ладожская" data-line-color="#E67E22">Ладожская</option>
        <option value="Проспект Большевиков" data-line-color="#E67E22">Проспект Большевиков</option>
        <option value="Улица Дыбенко" data-line-color="#E67E22">Улица Дыбенко</option>
    </optgroup>

    <!-- Фиолетовая линия (5) -->
    <optgroup label="Фрунзенско-Приморская (Фиолетовая) линия (5)">
        <option value="Комендантский проспект" data-line-color="#8E44AD">Комендантский проспект</option>
        <option value="Старая Деревня" data-line-color="#8E44AD">Старая Деревня</option>
        <option value="Крестовский остров" data-line-color="#8E44AD">Крестовский остров</option>
        <option value="Чкаловская" data-line-color="#8E44AD">Чкаловская</option>
        <option value="Спортивная" data-line-color="#8E44AD">Спортивная</option>
        <option value="Адмиралтейская" data-line-color="#8E44AD">Адмиралтейская</option>
        <option value="Садовая" data-line-color="#8E44AD">Садовая</option>
        <option value="Звенигородская" data-line-color="#8E44AD">Звенигородская</option>
        <option value="Обводный канал" data-line-color="#8E44AD">Обводный канал</option>
        <option value="Волковская" data-line-color="#8E44AD">Волковская</option>
        <option value="Бухарестская" data-line-color="#8E44AD">Бухарестская</option>
        <option value="Международная" data-line-color="#8E44AD">Международная</option>
    </optgroup>
</select>
                    </div>
                </div>
            </div>
            <div class="result-container" id="resultContainer" style="display: none;">
                <div class="predicted-price">
                    <h3 class="price-label">Предсказанная стоимость аренды:</h3>
                    <span class="price-value" id="predictedPrice">0</span> ₽/мес
                </div>
            </div>
            <div class="submit-wrapper">
                <div class="form-row">
                    <div class="form-block">
                        <div class="gradient-select-container">
                            <select class="gradient-select al-center" id="ml_model">
                              <option value="0">Linear Model</option>
                              <option value="1">Logistic Model</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-block">
                        <button type="submit" class="submit-btn" id="submitBtn">Оценить</button>
                    </div>
                </div>
            </div>
          </form>
          <div class="deco"></div>
    </div>
    <div class="footer">
        <div class="container">
            <h3 class="rights">(c) 2025</h3>
        </div>
    </div>
    <script>
        const buttons = document.querySelectorAll('.room-btn');
        const indicator = document.querySelector('.room-indicator');

        function moveIndicator(button) {
            const parent = button.parentElement.parentElement;
            const rect = button.getBoundingClientRect();
            const parentRect = parent.getBoundingClientRect();

            const left = rect.left - parentRect.left;
            const width = rect.width;

            indicator.style.transform = `translateX(${left}px)`;
            indicator.style.width = `${width}px`;
        }

        // Инициализация при загрузке
        document.addEventListener('DOMContentLoaded', () => {
            const active = document.querySelector('.room-btn.active');
            if (active) moveIndicator(active);
        });

        buttons.forEach(button => {
            button.addEventListener('click', () => {
                // Убираем active мгновенно
                buttons.forEach(b => b.classList.remove('active'));

                // Двигаем фон
                moveIndicator(button);

                // Добавляем задержку перед установкой active
                setTimeout(() => {
                    button.classList.add('active');
                }, 150); // Задержка чуть меньше transition (в CSS стоит 0.3s)
            });
        });
    </script>
    <script src="{{url_for('static', filename='js/form.js')}}"></script>
</body>
</html>